h1 {
  font-size: 26px;
  font-weight: normal;
  color: #777;
  margin-bottom: 16px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

section h2.section-title {
  color: #48185b;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 24px;
}

section .product-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  overflow: hidden;
  position: relative;
  padding: 0px 20px;
}

section .product-carousel #arrow-left, section .product-carousel #arrow-right {
  font-size: 40px;
  font-weight: 700;
  color: orangered;
  position: absolute;
  top: 40%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .product-carousel #arrow-left {
  left: 0;
}

section .product-carousel #arrow-right {
  right: 0;
}

section .product-carousel .products-group {
  width: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .product-carousel .products-group .product {
  width: 20%;
  min-width: 180px;
  padding: 8px 10px;
  position: relative;
}

section .product-carousel .products-group .product + .product {
  margin-left: 16px;
}

section .product-carousel .products-group .product .position-badge {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  background: #e8ecf0;
  height: 35px;
  width: 30px;
}

section .product-carousel .products-group .product .position-badge::before {
  border-top: 10px solid #e8ecf0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  bottom: -10px;
  width: 0;
}

section .product-carousel .products-group .product img {
  width: 100%;
  padding: 20px;
}

section .product-carousel .products-group .product .description {
  color: #3f3f3f;
  margin-bottom: 8px;
}

section .product-carousel .products-group .product .description .title {
  max-width: 400px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-box-orient: vertical;
}

section .product-carousel .products-group .product .description strong {
  font-weight: normal;
  font-size: 18px;
  color: #48185b;
}

section .product-carousel .products-group .product .description > small {
  color: #777;
  font-size: 13px;
}
/*# sourceMappingURL=product.css.map */