h1 {
  font-size: 26px;
  font-weight: normal;
  color: #777;
  margin-bottom: 16px;
  margin-left: 20%;
}

section + h1 {
  margin-top: 32px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  
  h2.section-title {
    color: #48185b;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 24px;
  }
  
  .product-carousel {
    display: flex;
    flex-direction: row;
    width: 60%;
    overflow: hidden;
    position: relative;
    padding: 0px 20px;

    #arrow-left, #arrow-right {
      font-size: 40px;
      font-weight: 700;
      color: orangered;
      position: absolute;
      top: 40%;
      cursor: pointer;
      user-select: none;
    }

    #arrow-left { left: 0; }
    #arrow-right { right: 0; }

    .discount-badge {
      background: #48185b;
      color: #FFF;
      padding: 8px 4px;
      position: absolute;
      font-size: 12px;
      border-radius: 2px;
    }

    .products-group {
      width: 100%;
      display: none;
      flex-direction: row;
      justify-content: space-evenly;

      .product {
        width: 20%;
        min-width: 180px;
      
        padding: 8px 10px;
        position: relative;
      
        & + .product {
          margin-left: 16px;
        }
  
        .position-badge {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          right: 0;
          background: #e8ecf0;
          height: 35px;
          width: 30px;
    
          &::before {
            border-top: 10px solid #e8ecf0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            bottom: -10px;
            width: 0;
          }
        }
      
        img {
          width: 100%;
          padding: 20px;
        }
    
        .description {
          color: #3f3f3f;
          margin-bottom: 8px;

          .title {
            max-width: 400px;
            overflow: hidden;
            display: -webkit-box;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -moz-line-clamp: 3;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
          }

          strong {
            font-weight: normal;
            font-size: 18px;
            color: #48185b;
          }
    
          & > small {
            color: #777;
            font-size: 13px;
          }
        }
      }
    }
  }
}
